

.fleche {
  position:relative;
  display: inline-block;
  float: right;

  span {
    display: inline-block;
    width: 80px;
    padding: 18px;
    border-radius: 50%;
    border: 1px solid #45ac35;
    position: absolute;
    right: 5px;
    bottom: -5px;
  }
  span img {
    transition: all 0.5s ease;
  }
  &:hover img {
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  [type="submit"]:focus {
    outline: none;
  }
}

#joindre {
  padding-top: 100px ;
}

#map {
  height: 450px;
  margin-top: 20px;
}

.page-template-page-contact #bandeau_contact {
  margin-top: -50px;
  z-index: -1;
}

.coord {
  p {
    margin-bottom: 0;
  }

  h2 {
    font-weight: 300;
  }

  .bloc {
    padding-top: 15px;
    display: inline-block;
  }
  b{
    display: block;
    a {
      color: #000;
      font-size: 14px;
    }
  }

}

.contact textarea {
  height: 220px;
  padding-top: 20px;
}

#file_upload  {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileUpload {


  label {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    &:hover img {
      transform: rotate(0deg);
    }
  }

  .arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 1px 5px 4px;
    border-radius: 50%;
    border: 1px solid #8a8a8a;
    margin-right: 10px;
    img {
      transform: rotate(-90deg);
      transition: all 0.5s ease;
    }
  }



}


.page-template-page-soumission form {
 position: relative;
  .fleche {
    position: absolute;
    display: inline-block;
    float: none;
    right: 0px;
    bottom: -20px;
  }
}

.page-template-page-soumission #bandeau_contact {
  height: 300px;
  margin-top: 80px;
}