#bandeau_contact {
  background-image: url(../img/bg_bandeau.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  &:after {
    content:"";
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0,160,0,0.67);
  }

  div {
    max-width: 400px;
    margin : 0 auto;
    padding: 100px 0;
    position: relative;
    z-index: 1;
    color: #fff;
    position: relative;
    .titre {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
    }
    p {
      font-weight: 300;
      font-size: 30px;
      line-height: 30px;
    }
  }
}

.section_content {
  position: relative;
  margin : 75px 0;
  .leftHalf {
    background-image: url(../img/maison_exp.jpg) ;
    width: calc( 50% - 15px );
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    background-size: cover;
    background-position: center;

    @media (max-width: 1024px) {
      display : none;
    }
    &.right {
      right :0;
      left:auto;
    }
  }

  .desc_content {
    padding: 30px 0 0 30px;
  }
}

#realisation {

  padding: 80px 0;

  h2 {
    padding-bottom : 30px ;

  }

  .container {
    & > div:nth-of-type(1) {
      width: 25%;
    }
    & > div:nth-of-type(2) {
      width: 42%;
      .expert_img {
        background-position: 4px;
        background-repeat: no-repeat;
      }
    }
    & > div:nth-of-type(3) {
      width: 16.5%;
      .expert_img {
        background-position: 4px;
        background-repeat: no-repeat;
      }
    }
    & > div:nth-of-type(4) {
      width: 16.5%;
      .expert_img {
        background-position: 4px;
        background-repeat: no-repeat;
      }
    }
  }


.realisation-item {
  display: inline-block;
  float :left;
  img {
    max-width: 100%;
  }
}


  .box {
    width: calc( 33% - 4px);
    float: left;
    margin-top: 4px;
    background: #45ac35;
    margin-left: 4px;
    transition :all 0.3s ease;
    .fleche_blanche {
      bottom: -25px;
      border-color: #b0f1a6;
    }
    &:hover {
      img {
        transform: rotate(360deg);
      }
      background-color: #4aca36;
    }
  }

  .box:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 37.5%;
  }

  .box > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 40px;
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

}

.page-template-page-realisations {
  #expertise {
    padding: 100px 0;
  }
}